
$primary_font:"HK Grotesk";

$blue : #2B83EA;
$blue_2 : #2783F3;
$dark_blue : #030F3F;
$dark_blue_2 : #03062F;
$light_blue : #528FF0;
$white : #fff;
$gray : #D8E0E2;
$light_gray : #EDEDED;
$gray_2 : #545C5F;
$gray_3 : #939C9F;
$gray_4 : #EDF1F2;
$gray_5 : #D6DFE1;
$green_1 : #58C19C;
$green_2 : #8CA4AB;
$green_3 : #B1FBE3;
$green_4 : #00BA74;
$dark_blak : #000000;
$black : #222323;
$black_2 : #4F5659;
$black_3 : #202324;
$blsck_4 : #34393A;
$color_1 : #DE742D;
$color_2 : #A07EDC;



$font_size_10 : 10px;
$font_size_12 : 12px;
$font_size_13 : 13px;
$font_size_15 : 15px;
$font_size_16 : 16px;
$font_size_18 : 18px;
$font_size_20 : 20px;
$font_size_40 : 40px;


$normal : 400;
$semi_bold : 600;
$bold : 700;
$bolder : 800;
