@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/HKGrotesk-BoldItalic.eot');
    src: url('../fonts/HKGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-BoldItalic.woff2') format('woff2'),
        url('../fonts/HKGrotesk-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/HKGrotesk-Black.eot');
    src: url('../fonts/HKGrotesk-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-Black.woff2') format('woff2'),
        url('../fonts/HKGrotesk-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/HKGrotesk-Bold.eot');
    src: url('../fonts/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/HKGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/HKGrotesk-Light.eot');
    src: url('../fonts/HKGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-Light.woff2') format('woff2'),
        url('../fonts/HKGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/HKGrotesk-ExtraBold.eot');
    src: url('../fonts/HKGrotesk-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-ExtraBold.woff2') format('woff2'),
        url('../fonts/HKGrotesk-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/HKGrotesk-Italic.eot');
    src: url('../fonts/HKGrotesk-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-Italic.woff2') format('woff2'),
        url('../fonts/HKGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Legacy';
    src: url('../fonts/HKGrotesk-BoldLegacyItalic.eot');
    src: url('../fonts/HKGrotesk-BoldLegacyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-BoldLegacyItalic.woff2') format('woff2'),
        url('../fonts/HKGrotesk-BoldLegacyItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Legacy';
    src: url('../fonts/HKGrotesk-LegacyItalic.eot');
    src: url('HKGrotesk-LegacyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-LegacyItalic.woff2') format('woff2'),
        url('../fonts/HKGrotesk-LegacyItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Legacy';
    src: url('../fonts/HKGrotesk-BoldLegacy.eot');
    src: url('../fonts/HKGrotesk-BoldLegacy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-BoldLegacy.woff2') format('woff2'),
        url('../fonts/HKGrotesk-BoldLegacy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/HKGrotesk-LightItalic.eot');
    src: url('../fonts/HKGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-LightItalic.woff2') format('woff2'),
        url('../fonts/HKGrotesk-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/HKGrotesk-Medium.eot');
    src: url('../fonts/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-Medium.woff2') format('woff2'),
        url('../fonts/HKGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Light Legacy';
    src: url('../fonts/HKGrotesk-LightLegacyItalic.eot');
    src: url('../fonts/HKGrotesk-LightLegacyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-LightLegacyItalic.woff2') format('woff2'),
        url('../fonts/HKGrotesk-LightLegacyItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Medium Legacy';
    src: url('../fonts/HKGrotesk-MediumLegacy.eot');
    src: url('../fonts/HKGrotesk-MediumLegacy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-MediumLegacy.woff2') format('woff2'),
        url('../fonts/HKGrotesk-MediumLegacy.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Medium Legacy';
    src: url('../fonts/HKGrotesk-MediumLegacyItalic.eot');
    src: url('../fonts/HKGrotesk-MediumLegacyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-MediumLegacyItalic.woff2') format('woff2'),
        url('../fonts/HKGrotesk-MediumLegacyItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/HKGrotesk-MediumItalic.eot');
    src: url('../fonts/HKGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-MediumItalic.woff2') format('woff2'),
        url('../fonts/HKGrotesk-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Light Legacy';
    src: url('../fonts/../fonts/HKGrotesk-LightLegacy.eot');
    src: url('../fonts/HKGrotesk-LightLegacy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-LightLegacy.woff2') format('woff2'),
        url('../fonts/HKGrotesk-LightLegacy.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/HKGrotesk-SemiBold.eot');
    src: url('../fonts/HKGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-SemiBold.woff2') format('woff2'),
        url('../fonts/HKGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk SemiBold Legacy';
    src: url('../fonts/HKGrotesk-SemiBoldLegacy.eot');
    src: url('../fonts/HKGrotesk-SemiBoldLegacy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-SemiBoldLegacy.woff2') format('woff2'),
        url('../fonts/HKGrotesk-SemiBoldLegacy.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/HKGrotesk-SemiBoldItalic.eot');
    src: url('../fonts/HKGrotesk-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/HKGrotesk-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/HKGrotesk-Regular.eot');
    src: url('../fonts/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/HKGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk SmBold Legacy';
    src: url('../fonts/HKGrotesk-SemiBoldLegacyItalic.eot');
    src: url('../fonts/HKGrotesk-SemiBoldLegacyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-SemiBoldLegacyItalic.woff2') format('woff2'),
        url('../fonts/HKGrotesk-SemiBoldLegacyItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Legacy';
    src: url('../fonts/HKGrotesk-RegularLegacy.eot');
    src: url('../fonts/HKGrotesk-RegularLegacy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HKGrotesk-RegularLegacy.woff2') format('woff2'),
        url('../fonts/HKGrotesk-RegularLegacy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@import "variables";
@import "common";
@import "header";
@import "banner";
@import "product";

